*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,
li,
ul,
button,
h1,
h2,h3, h5, h4, h6, input,span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.editBoxBody{
    
    background: #f7fbff;
    padding: 60px;
}
.header{
    border: .5px solid rgb(233, 233, 233);
    padding: 10px;
    text-align: right;
    justify-content: end;
    position: relative;
    padding: 30px 30px;
    background-color: #fecd29;
    margin-bottom: 40px;
}
.logoAndBanner{
    background-color: white;
    padding: 30px 15px;
}
.editMainBox{
    background-color: #ffffff !important;
}
#BannerBox,
#logoBox{
    display: grid;
    grid-template-columns: 40% 20% 20% 10%;
    grid-gap: 20px;
    margin: 40px 0;
    border: .5px solid gray;
    padding: 15px 0;
    background-color: rgb(251, 251, 251);
    align-items: center;
}
.form input{
    padding: 10px 10px;
    background: white !important;
    border: #b3b3b3 !important;
}
.form input:focus{
   border: none !important;
}
.form button {
    background: red;
    border: none;
    font-size: 18px;
    color: white;
}
.colors{
    padding: 0;
    background: white ;
    border: none;
    width: 100%;
    height:40px;
}
table{
    width: 100%;
    background-color: aliceblue;
    margin: 30px 0px;
    text-align: left;
}

.areaProceed{
    justify-content: center;
    width: 100%;
   
    padding: 20px 0px;
}
.ProceedProgess {
    width: 80%;
    position: relative;
    background: rgb(241, 240, 236);
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.ProceedProgess label,
.ProceedProgess button,
.ProceedProgess input{
    padding: 15px;
    background-color: rgb(243, 236, 236);
    border: none;
}
.ProceedProgess input{
    border: .5px solid gainsboro;
}
.ProceedProgess .Proceed{
    background-color: #0e99ff !important;
}
.areaText{
    background: white;
    border: .5px solid gray;
    padding: 15px 10px;
    text-align: center;
    margin: 10px;
}
table tr,
table tr td{
    color: #3f304a;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 10px !important;
    background: #e4ccff;
    padding: 10px;
}
table tr th {
    margin-bottom: 50px !important;
    padding: 15px;
    text-align: center;
    background: white;
}
table tr td:nth-child(1){
    width: 10%;
}
table tr td:nth-child(2){
    width: 45%;
}
table tr td:nth-child(3){
    width: 30%;
}
table tr td:nth-child(4){
    width: 20%;
}
table tr td button{
    width: 100%;
    padding: 10px;
}
button{
    border-radius: 6px;
    border: none;
    background-color: #9847ff !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.label{
    display: flex;
}
.editArea,
.editName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Delete,
#Save{
    margin-bottom: 4px;
}
button{
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.ConfirmButton{
    position: relative;
}
#bannerImg,
#blah{
    width: 300px !important;
    height: 100px !important;
}

button#SaveALL {
    left: 50%;
    position: absolute;
    padding: 10px;
    top: 5px;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    margin: 30px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover{
    background-color: #fecd29 !important;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
  }